# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2026 Silicon Laboratories Inc.
#
# Silicon Labs EFM32PG22/EFR32xG22 target

set FLASHBASE 0x00000000
source [find target/silabs/series2.cfg]

# VC_CORERESET does not work on xG22, use hw breakpoint at reset vector
$_TARGETNAME configure -event reset-assert-pre {
	silabs_s2_reset_assert_pre 0x00000000 $halt
}

$_TARGETNAME configure -event reset-deassert-post {
	silabs_s2_reset_deassert_post $halt
}
